[Unit]
Description=Anbox Desktop Entry Categories Fixer.
Requires=anbox-session-manager.service
After=anbox-session-manager.service

[Timer]
OnUnitInactiveSec=30
RemainAfterElapse=False

[Install]
WantedBy=default.target timers.target anbox-session-manager.service
